* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
}

h1 {
  text-align: center;
}

.todo {
  padding: 10px;
  color: #000;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 4px 3px 5px -1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.done {
  background-color: #8EA604;
}

.pending {
  background-color: #F5BB00;
}